

.nav-link:hover {
    color: #55555763;
  }


.container {
	/* background-color: white; */
  padding-left:0px;
  width: 100%; 
  margin: 25px 10px 10px 25px;

  color:white;
   
}



.navbar-brand {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
} 

h1, .col-md-8 {
	color: white;
}

.col-md-8 {
  padding-left: 10px;
}

.aboutMe {
  /* font-family: 'Georgia', Times, 'Times New Roman', serif; */
  margin-top: 45px; 
  margin-left: 10px;
  color: #4aaaa5;    
}

img {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.contactForm {
  margin-left: 10px;
}

.card {
  margin-left: 20px;
  margin-top: 40px;   
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color:#666666;
  text-align: center;
  color: #777777;
  width: 100%;
}


}
.copyright {
  padding: 5px;
  color: white;
}