html, body {
    background-image: url("../Images/IMG_0260_Original.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   }


  .navbar-inner li{
    line-height: 40px;
    letter-spacing:2px;
    justify-self: center;
  } 

 .nav-link{
    transition: border-top .3s;
    &:hover{border-top: 4px solid dodgerblue;}
  }
   
  .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-image:none;
    background-color:dodgerblue;

  }

  h1, .col-md-8 {
    color: white;
  }

  .header{

 background-image: none !important;
    border-bottom:2px solid dodgerblue !important;
    line-height: 40px !important;

} 
  .threed{
    color:white;
    text-shadow: 0 1px 0 #333,
                 0 2px 0 #333,
                 0 3px 0 #333,
                 0 4px 0 #333,
                 0 5px 0 #333,
                 0 3px 1px rgba(255,255,255,.1)
  }


  #content{
    margin-top:250px;
    color:white;
    width: fit-content;
    justify-content: left;
    padding-left: 10px;
    padding-left: 10px;
    align-content: center;
    margin-left: 50px;
    margin-left: 50px;
  } 

 .row-fluid {
    padding-left: 10px;
    padding-right: 10px;
 }
  

  

  